:host{
    flex-glow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

div.input{
    position: relative;
}
div.input label{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 30px;
    background: rgb(255, 255, 255);
    padding: 10px 5px;
}

div.input input{
    padding: 25px 45px;
    font-size: 25px;
    outline: 0;
}

div.input{
    margin-top: 50px;
}